<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pmo.tsis.mapper.UserMapper">
	<select id="login" resultType="com.pmo.tsis.domain.UserVO" >
		select 
			*
		from 
			member
		where member_id = #{member_id} and password = #{password}
	</select>
</mapper>